@page
@model Otel_ProjeOdev.Pages.Politika.IndexModel
@{
}

<br />

<h2>
    <center>Politika Listesi</center>
</h2>

<a class="btn btn-primary btn-sm" href="Politika/Ekle">Yeni Politika</a>

<table class="table">
    <thead>
        <tr>
            <th>Politika Kodu</th>
            <th>Politika Kayıt Zamanı</th>
            <th>Politika Ayrılma Zamanı</th>
            <th>Politika Iptal Süresi</th>
            <th>İşlemler</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.listele)
        {
        <tr>
                <td><a style="color:red;">@item.PolitikaKod</a></td>
                <td><a>@item.PolitikaKayitZamani</a></td>
                <td><a>@item.PolitikaAyrilmaZamani</a></td>
                <td><a>@item.PolitikaIptalSuresi gün</a></td>
            <td>
                <a class="btn btn-warning btn-sm" href="/Politika/Detay?id=@item.PolitikaKod">Detay </a>
                <a class="btn btn-primary btn-sm" href="/Politika/Duzenle?id=@item.PolitikaKod">Düzenle</a>
                <a class="btn btn-danger btn-sm" href="/Politika/Sil?id=@item.PolitikaKod">Sil</a>
            </td>
        </tr>

        }
    </tbody>
</table>